@media (max-width: 992px) and (min-width: 320px)  {
  .bg {
    height: 600px;
  }
  .vertical-line{
    display: none;
  }
  .bg > h3 {
    top: 500px;
    font-size: 18vw;
  }
  .mainContact {
    padding: 100px 60px;
  }
  .vertical-line2 {
    height: 60px;
  }
  .text-aside {
    margin-left: 40px;
  }
}